main{
    height: 85vh;
    border: 1px solid black;
    border-radius: 2%;
    overflow: hidden;
}

.chat-screen{
    height: 90%;
    padding: 1.5rem;
}

.writing-part{
    height: 10%;
    border: 1px solid black;
}

.writing-part input{
    width: 90%;
}

.writing-part button{
    width: 10%;
}